/WebApplicationDummy/nbproject/private/
/WebApplicationDummy/build/
/WebApplicationDummy/dist/
/WebApplicationDataWebWizard/nbproject/private/
/WebServiceDataWebWizardSoap/nbproject/private/
/WebServiceDataWebWizardRest/nbproject/private/
/WebServiceDataWebWizardSoap/build/
/WebServiceDataWebWizardRest/build/
/WebApplicationDataWebWizard/build/
/WebApplicationDataWebWizard/dist/
/WebServiceDataWebWizardRest/dist/
/WebServiceDataWebWizardRestful/nbproject/private/
/WebServiceDataWebWizardRestful/build/
/WebServiceDataWebWizardRestful/dist/
/WebServiceDataWebWizardSoap/dist/
/WebServicesDataWebWizardRest/nbproject/private/
/WebServicesDataWebWizardRest/build/
/WebServicesDataWebWizardRest/dist/
/WebServicesDataWebWizardRestful/nbproject/private/
/WebServicesDataWebWizardRestful/build/
/WebServicesDataWebWizardRestful/dist/